@import '../../adaptiveMode/adaptive';
@import '../main';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        font-family: "Manrope", sans-serif;
        font-size: 70px;
        font-weight: 700;
        line-height: 0.9;
        color: #FF881B;
        max-width: 1440px;
        max-height: fit-content;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @media (max-width: 980px) {
            font-size: 45px;
        }
    }
}